Form_MVC/Service References/FromWCF/BibliotecaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EntityModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EntityModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/From_WCF/BibliotecaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBookAuthors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookAuthors" nillable="true" type="tns:BookAuthors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookAuthors" nillable="true" type="tns:ArrayOfBookAuthors" />
  <xs:complexType name="BookAuthors">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookAuthors" nillable="true" type="tns:BookAuthors" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthor" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfAuthor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" nillable="true" type="tns:Author" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthor" nillable="true" type="tns:ArrayOfAuthor" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBook" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
</xs:schema>